body {
    background-color: darkgray;
}
h1 {
    background-color: lightseagreen ;
    font-family: "Brush Script MT", Brush, cursive;
}
.row {
    border-style: dotted;
    font-family: "Times New Roman", Times, serif;
}
div {
    text-align: center;
}
p1{
    text-align: left;
    word-spacing: 10px;
}