
h1 {
    background-color: darkgray;
    font-family: "Times New Roman", Times, Serif;
    text-align: center;
}
p1 {
    text-align: center;
    font-family: "Brush Script MT", Brush, cursive;
    word-spacing: 5px;
    text-indent: 60px;
}