h4 {
    text-align: left;
    font-family: "Times New Roman", Times, Serif, serif;

}
h2 {
    text-decoration: underline;
}
body {
    background-image: url("https://images.creativemarket.com/0.1.0/ps/8562057/2340/1560/m1/fpnw/wm0/cover-.jpg?1592494694&s=10cbe694f181dde145b83b7b9ea753d7");
    background-position-x: right;
    background-position-y: center;
    margin-right: auto;
    background-size: 700px;
    background-repeat: no-repeat;

}